#menu {

  $bg: $porcelain;
  $inner-offset: 2.4vw;
  $font-size: 1.2em;
  $highlight: $black;

  @extend %absolute;
  width: $side-menu-width;
  height: 100vh;
  background: $bg;
  will-change: transform;
  transition: width $animation-snap .3s;

  .name {
    font-size: $font-size;
    color: $primary-accent;
    padding: 1vh 0 .8vh;
    margin-bottom: 5vh;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid $mystic;
  }

  .name.mobile {
    display: none;
    background: transparent;
    border: 0;
    font-size: 2.4em;
    margin: 0 0 10vh;
    outline: none;
  }
  .name.desktop {
    display: block;
  }

  .menu-container {
    @extend %absolute;
    height: 100%;
    display: block;
    box-sizing: border-box;
    left: $inner-offset;

    .menu {
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
      height: 100%;
      width: 100%;
      opacity: 1;
      transition: background $animation-snap .3s, opacity $animation-snap .3s;
    }

    .item {
      padding: .7vh 0;
      display: block;

      a {
        font-size: $font-size;
        color: $clay;
        text-decoration: none;
        font-family: $medium-font;
        transition: color $animation-snap .4s;
        box-sizing: border-box;
        width: 100%;

        &.router-link-active {
          color: $highlight;
          transition: color $animation-snap .4s;
        }
      }

      &.about {
        position: absolute;
        bottom: $inner-offset;
        cursor: pointer;
        width: calc(#{$side-menu-width} - #{$inner-offset});
      }
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    height: 100%;
  }
}

#app.mobile #menu {
  width: $mobile-sidemenu-width;
  transition: all $animation-snap .5s;
  background: transparent;
  pointer-events: none;
  z-index: 20;

  button.mobile {
    pointer-events: all;
  }

  .name.mobile {
    display: block;
  }
  .name.desktop {
    display: none;
  }

  .menu-container {

    .menu {
      opacity: 0;
      pointer-events: none;
    }
  }

  &.expanded {
    pointer-events: all;
    background: $porcelain;
    width: $side-menu-width;
    transition: all $animation-snap .5s;
    z-index: 22;


    .menu-container .menu {
      opacity: 1;
      pointer-events: all;
      transition: opacity $animation-snap .6s;
    }
  }
}
