.project {

  $left-offset: 8vw;

  position: absolute;
  height: 100%;
  width: calc(100% - #{$side-menu-width});
  left: $side-menu-width;
  transition: width $animation-snap .3s, left $animation-snap .3s;

  .title-box {
    @extend %absolute;
    top: 22vh;
    left: $left-offset;
    max-width: 100%;

    .title {
      animation: fade $animation-curve 1.7s;
    }

    .subtitle {
      animation: fade $animation-curve 3s;
    }
  }

  &.theme-white .title,
  &.theme-white .subtitle,
  &.theme-white .description {
    color: $white;
  }
  &.theme-black .title,
  &.theme-black .subtitle,
  &.theme-black .description {
    color: $black;
  }

  .curlywurly {
    margin-top: 15px;
    display: inline-block;
    width: 120px;

    svg {
      width: 100%;
      height: auto;
      fill: none;
      stroke: $primary-accent;
      stroke-width: 14;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-dasharray: 400;
      animation: curlywurly ease 2.5s;
    }
  }

  .description-box {
    @extend %absolute;
    top: auto;
    bottom: 10vh;
    left: $left-offset;
    max-width: 600px;
    margin-right: 300px;
    animation: fade $animation-curve 1s;

    .description {
      font-size: 1.4em;
      line-height: 1.4;
    }
  }

  .bg {
    @extend %absolute;
    @extend %no-flick;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    animation: scalefade ease 4s;
    pointer-events: none;
  }

  .gradient-overlay {
    @extend %absolute;
    background: linear-gradient(10deg, transparent 0%, rgba(255, 255, 255, 0) 43%);
    height: 100%;
    width: 100%;
    pointer-events: none;
  }

  &.splash {
    > .bg {
      background-image: url('./projects/compilex-laptop.jpg');
    }
    > .gradient-overlay {
      background: linear-gradient(10deg, transparent 0%, rgba(255,255,255,0) 43%);
    }
  }
  &.lift {
    > .bg {
      background-image: url('./projects/lift.jpg');
    }
    > .gradient-overlay {
      background: linear-gradient(10deg, $orange-red 0%, rgba(255,255,255,0) 43%);
    }
  }
  &.projectp {
    > .bg {
      background-image: url('http://teunkelting.nl/images/project-p-imac.jpg');
    }
    > .gradient-overlay {
      background: linear-gradient(10deg, $pink 0%, rgba(255,255,255,0) 43%);
    }
  }
  &.sleepeey {
    > .bg {
      background-image: url('./projects/sleepeey-wallpaper.jpg');
    }
    > .gradient-overlay {
      background: linear-gradient(10deg, rgba($pink, 0.3) 0%, rgba(255,255,255,0) 43%);
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes curlywurly {
  0% {
    stroke-dashoffset: 400;
  }
  30% {
    stroke-dashoffset: 200;
  }
  50% {
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scalefade {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  50% {
    transform: scale(1.003);
  }
  100% {
    transform: scale(1);
  }
}

#app.mobile .project {
  left: 0;
  width: 100%;
  transition: width $animation-snap .3s, left $animation-snap .3s;

  $left-offset: 15vw;

  .title-box {
    top: 12vh;
    left: $left-offset;

    .title {
      font-size: 2.5em;
      text-shadow: 0 0 1px rgba(0, 0, 0, .2);
    }

    .subtitle {
      font-size: 1.5em;
      text-shadow: 0 0 1px rgba(0, 0, 0, .2);
    }

    .curlywurly {
      width: 80px;
      margin-top: 10px;
    }
  }

  .description-box {
    left: $left-offset;
    text-shadow: 0 0 1px rgba(0, 0, 0, .2);
    letter-spacing: 0;
    margin-right: 0;
    width: 100%;
    bottom: 115px;
    font-size: .8em;
    max-width: calc(100% - #{$left-offset * 2});
  }
}
