#info {
  $bg: $white;
  $inner-offset: 3vw;
  $width: 50vw;

  @extend %absolute;
  @extend %no-flick;
  right: -$width;
  left: auto;
  height: 100%;
  width: $width;
  display: flex;
  align-items: flex-start;
  transform: translateX(0);

  .info-inner {
    background: $bg;
    padding: $inner-offset;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;

    .title {
      color: $primary-accent;
      font-size: 2em;
    }

    p {
      font-size: 1em;
      line-height: 1.5;
      font-family: $medium-font;
    }

    .row {
      $GRID_SIZES: ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve');
      $spacing: 1vw;

      display: flex;
      flex-direction: row;
      margin: -$spacing;

      .col {
        padding: $spacing;

        @each $size in $GRID_SIZES {

          &.#{$size} {
            width: 100% / 12 * index($GRID_SIZES, $size);
          }

        }
      }
    }
  }

  .btn.close {
    background: $primary-accent;
    border: none;
    padding: 22px 24px;
    position: absolute;
    margin-left: -35px;
    margin-top: 30px;
    transition: margin $animation-snap .2s;
    transform: scale(0);

    &:hover {
      margin-left: -45px;
      transition: margin $animation-snap .2s;
    }
  }
}
