#info {
  $bg: $white;
  $inner-offset: 3vw;
  $width: 50vw;

  @extend %absolute;
  @extend %no-flick;
  right: -$width;
  left: auto;
  height: 100%;
  width: $width;
  display: flex;
  align-items: flex-start;
  transform: translateX(0);

  .info-inner {
    background: $bg;
    padding: $inner-offset;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    box-sizing: border-box;

    .title {
      color: $primary-accent;
      font-size: 2em;
    }

    p {
      font-size: 1em;
      line-height: 1.5;
      font-family: $medium-font;
    }

    .image-container {
      width: 100%;
      display: flex;
      align-content: center;
      align-items: center;
      justify-content: center;
      max-height: 40vh;
      height: 100%;
      margin: 0;

      img {
        width: auto;
        max-width: 100%;
        max-height: 40vh;

        &.shadow {
          box-shadow: 0 0 35px rgba(0, 0, 0, .3);
        }
      }
    }

    .project-link-container {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: $inner-offset;

      .btn-project {
        color: $white;
      }
    }


    .row {
      $GRID_SIZES: ('one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten', 'eleven', 'twelve');
      $spacing: 1vw;

      display: flex;
      flex-direction: row;
      margin: -$spacing;

      .col {
        padding: $spacing;

        @each $size in $GRID_SIZES {

          &.#{$size} {
            width: 100% / 12 * index($GRID_SIZES, $size);
          }

        }
      }
    }
  }

  .btn.close {
    background-color: $primary-accent;
    background-image: url('./arrow-left.svg');
    background-size: 25%;
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    padding: 32px 30px;
    position: absolute;
    margin-left: -35px;
    margin-top: 30px;
    transition: all $animation-snap .2s;
    transform: scale(0);
    outline: none;

    &:hover {
      margin-left: -30px;
      transition: all $animation-snap .2s;
    }
  }
}

#app.mobile #info {
  right: -85vw;
  width: 85vw;
  z-index: 21;

  .info-inner {
    padding: calc(6vw + 50px) 6vw 6vw;

    p {
    letter-spacing: 0;
      font-size: .9em;
    }

    .title {
      font-size: 1.5em;
      margin-top: 20px;
    }

    .row {
      flex-direction: column;

      .col {
        width: 100%;
      }
    }
  }

  .btn.close {
    padding: 25px 23px;
    margin-top: 0;
    margin-left: 0;
    width: 100%;
    background-size: 15px;
    background-position: 23px center;
  }
}
