@import 'partials/normalize';
@import 'partials/text';

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
}

body {
  font-family: $semibold-font;
}

