@import "partials/normalize";
@import "partials/text";

* {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-drag: none;
}

html,
body {
  height: 100%;
  width: 100%;
}

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  overflow-x: hidden;
}

body {
  font-family: $semibold-font;
  overflow: hidden;
}

#container {
  @extend %absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
