$side-menu-width: 230px;
$mobile-sidemenu-width: 80px;

// Colors
$white: #fff;
$porcelain: #f2f2f2;
$mystic: #d0e0e6;
$gray: #bbc8d0;
$clay: #8890a3;
$pantzer: #5e6068;
$comet: #373940;
$dark: #2e3445;
$black: #000;

$red: #f03b3b;
$orange-red: #ff5537;
$pink: #ff4162;
$pink-purple: #ff48cb;
$yellow: #ffc146;
$green: #4bc54f;
$purple: #5148ff;
$darkblue: #2275d7;
$blue: #4a90e2;
$lightblue: #0dbed3;
$teal: #4dabab;

$primary-accent: $purple;

$regular-font: "Regular", "Source Sans Pro", Arial, sans-serif;
$semibold-font: "Semibold", "Source Sans Pro", Arial, sans-serif;
$medium-font: "Medium", "Source Sans Pro", Arial, sans-serif;

$animation-snap: cubic-bezier(1, 0.005, 0.24, 1);
$animation-curve: cubic-bezier(0.25, 0.25, 0.39, 1);
