$side-menu-width: 230px;

// Colors
$white: #fff;
$porcelain: #f2f2f2;
$mystic: #D0E0E6;
$gray: #BBC8D0;
$clay: #8890A3;
$pantzer: #5E6068;
$comet: #373940;
$dark: #2E3445;
$black: #000;

$red: #F03B3B;
$orange-red: #FF5537;
$pink: #ff4162;
$yellow: #FFC146;
$green: #4BC54F;
$purple: #5148FF;
$darkblue: #2275d7;
$blue: #4A90E2;
$lightblue: #0dbed3;
$teal: #4dabab;

$primary-accent: $purple;
